.admin-header {
  height: 60px;
  background:#111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header-left h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-name {
  color:white;
  font-weight: 500;
}

.logout-btn {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  opacity: 0.85;
}
